@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8f3;
  --foreground: #2d2d2d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  line-height: 1.5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
